# Ignore CI build directory
*/target/*
build/
xcuserdata
cmake-build-debug/
.idea/

# Some local files
!.settings/org.eclipse.wst.common.project.facet.core.xml
*/.settings/
.classpath
.project

# python
*.pyc

# Visual Studio files
*.sdf
*.opensdf
*.VC.opendb
*.suo
*.user
*.db
*.tlog
.vs/
Debug/
Release/
_ReSharper.Caches/
Win32-Debug/
Win32-Release/
x64-Debug/
x64-Release/
/target/
