<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<script type="text/javascript" th:src="@{/static/js/jquery-1.11.3.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/springDemo.js}"></script>
<link rel="stylesheet" th:href="@{/static/css/springDemo.css}" />
<title>SpringMVC + Mybatis + Spring</title>
</head>
<body>
	<div>
        <table class="example">
		 <caption>Blog</caption>
			<thead>
				<tr>
				    <th>number</th>
				    <th>index</th>
				    <th>id</th>
					<th>title</th>
					<th>mainbody</th>
					<th>creattime</th>
				</tr>
			</thead>
			<tbody th:remove="all-but-first">
				<tr th:each="blog,blogStat:${blogList}">
				    <td th:text="${blogStat.count}">1</td>
				    <td th:text="${blogStat.index}">0</td>
				    <td th:text="${blog.id}">title</td>
					<td th:text="${blog.title}">title</td>
					<td th:text="${blog.mainbody}">mainbody</td>
					<td th:text="${blog.creattime}">creattime</td>
				</tr>
			</tbody>
			<tbody th:remove="all-but-first">
				<tr>
				    <td colspan="2"><p th:text="'Total:' + ${page.pages}">Total page</p></td>
				    <td><a th:href="@{/blog/pagehelper(page=1)}">first</a></td>
				    <td><a th:href="@{/blog/pagehelper(page=${page.nextPage})}">next</a></td>
				    <td><a th:href="@{/blog/pagehelper(page=${page.prePage})}">prex</a></td>
				    <td><a th:href="@{/blog/pagehelper(page=${page.lastPage})}">last</a></td>
				</tr>
			</tbody>
		</table>	
        <!-- <a th:href="@{/blog/pagehelper(page=${page.nextPage}, pageSize=5)}">next</a> -->
	</div>
</body>
</html>