<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<script type="text/javascript" th:src="@{/static/js/jquery-1.11.3.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/springDemo.js}"></script>
<script type="text/javascript" th:src="@{/static/js/blog.js}"></script>
<link rel="stylesheet" th:href="@{/static/css/springDemo.css}" />
<title>SpringMVC + Mybatis + Spring</title>
</head>
<body>
		<div>
        <table id="example1">
		 <caption>BlogThree</caption>
			<thead>
				<tr>
				    <th>number</th>
				    <th>index</th>
					<th>author_id</th>
					<th>author_name</th>
					<th>author_email</th>
					<th>blog_id</th>
					<th>blog_author_id</th>
					<th>blog_title</th>
					<th>blog_creattime</th>
					<th>comment_content</th>
					<th>comment_creattime</th>
				</tr>
			</thead>
			<tbody th:remove="all-but-first">
				<tr th:each="blogView,blogViewStat:${blogExtendViewThree}">
				    <td th:text="${blogViewStat.count}">1</td>
				    <td th:text="${blogViewStat.index}">0</td>
					<td th:text="${blogView.author.id}">author_id</td>
					<td th:text="${blogView.author.name}">author_name</td>
					<td th:text="${blogView.author.email}">author_email</td>					
					<td th:text="${blogView.id}">blog_id</td>
					<td th:text="${blogView.authorid}">blog_author_id</td>
					<td th:text="${blogView.title}">blog_title</td>
					<td th:text="${blogView.creattime}">blog_creattime</td>
					<td th:text="${blogView.comment.content}">comment_content</td>
					<td th:text="${blogView.comment.creattime}">comment_creattime</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>