<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<script type="text/javascript" th:src="@{/static/js/jquery-1.11.3.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/springDemo.js}"></script>
<script type="text/javascript" th:src="@{/static/js/blog.js}"></script>
<link rel="stylesheet" th:href="@{/static/css/springDemo.css}" />
<title>SpringMVC + Mybatis + Spring</title>
</head>
<body>
		<div>
        <table id="example1">
		 <caption>Blog</caption>
			<thead>
				<tr>
				    <th>number</th>
				    <th>index</th>
					<th>title</th>
					<th>mainbody</th>
					<th>creattime</th>
					<th>authorname</th>
					<th>authoremail</th>
					<th>commentcontent</th>
					<th>commenttime</th>
				</tr>
			</thead>
			<tbody th:remove="all-but-first">
				<tr th:each="blog,blogStat:${blogExtend}">
				    <td th:text="${blogStat.count}">1</td>
				    <td th:text="${blogStat.index}">0</td>
					<td th:text="${blog.title}">title</td>
					<td th:text="${blog.mainbody}">mainbody</td>
					<td th:text="${blog.creattime}">creattime</td>					
					<td th:text="${blog.author.name}">authorname</td>
					<td th:text="${blog.author.email}">authoremail</td>
					<td th:text="${blog.comment.content}">commentcontent</td>
					<td th:text="${blog.comment.creattime}">commenttime</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>