<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<script type="text/javascript" th:src="@{/static/js/jquery-1.11.3.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/springDemo.js}"></script>
<link rel="stylesheet" th:href="@{/static/css/springDemo.css}" />
<title>upload</title>
</head>
<body>
	<div>
		<table class="example">
		<caption>uploadFileInfo</caption>
			<thead>
				<tr>
				    <th>affectRow</th>
				</tr>
			</thead>
			<tbody>
				<tr>
				    <td th:text="${affectRow}">affectRow</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>